.popupPropertiesCenter {
	float: left;
	border: 3px black solid;
	border-radius: 12px;
	width: 80%;
	background-color: white;
	position: relative;
	left: 10%;
	text-align: left;
	}
	
.popupPropertiesLeft {
	float: left;
	border: 3px black solid;
	border-radius: 12px;
	width: 200%;
	background-color: white;
	position: relative;
	left: 70%;
	top: -115px;
	text-align: left;
	}
	
#profilePic {
	width: 30%;
	height: 30%;
	}
	
.popupPic {
	float: left;
	padding-right: 10px;
	border-radius: 9px;
	}

.highlight:hover {
	color: cyan;
	}

.center {
    text-align: center;
	padding: 10px;
}

.left {
	text-align: left;
	padding: 10px;
	}
	
#resume {
	border-style: groove;
	padding: 1%;
	position: absolute;
	left:20%;
	width:60%;
}

/* Popup container */
.popup {
	position: relative;
    cursor: pointer;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    position: absolute;
    z-index: 1;
	top: 140%;
	left: 0;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 0.25s;
    animation: fadeIn 0.25s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}